@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 32px grey;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 30px;
    text-align: left;
}

.input-group h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    outline: none;
    width: 100%;
    border-style: solid;
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

input::placeholder {
    color: #888;
}

button {
    padding: 10px 20px;
    color: #007bff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
}

button:hover {
    transform: scale(1.15);
}

p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}