<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paçoca</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    *{
        margin: 0 auto;
        padding: 20px;
        font-family: "Anton", sans-serif;
    }
</style>

<body>
    <h1>Paçoca</h1><br>
</body>

</html>